<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

 <!--  <div id="container">
    <strong class="capitalize">{{ folder }}</strong>
    <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
 -->

 <ion-card>
  <img src="https://www.elsoldesanluis.com.mx/incoming/v6rux1-gatitos-hermoso.png/ALTERNATES/LANDSCAPE_1140/gatitos%20hermoso.png"/>
  <ion-card-content>
    <ion-card-title>
      Super Cute Cat is Smashing Tonight!!!
      </ion-card-title>
    <p>
      The most popular cat in the world is here
      You just have to tap to see more details!
      Check it out now!
    </p>
  </ion-card-content>
</ion-card>

<ion-card>
  <img src="http://1.bp.blogspot.com/-ItkT864YgEY/TmD6Iey9pEI/AAAAAAAANvY/5brvvo-Niqo/s1600/gatos-hermosos-tiernos_01.jpg"/>
  <ion-card-content>
    <ion-card-title>
      Super Cute Cat is Smashing Tonight!!!
      </ion-card-title>
    <p>
      The most popular cat in the world is here
      You just have to tap to see more details!
      Check it out now!
    </p>
  </ion-card-content>
</ion-card>

<ion-list>
  <ion-item>
    <ion-avatar item-start>
      <img src="https://1.bp.blogspot.com/-O3BQY2jJjxk/UF-3el4XveI/AAAAAAAAGR4/QNkjvS9zHKk/s1600/dinamicas+gatito.jpg">
    </ion-avatar>
    <h2>Cati</h2>

  </ion-item>
</ion-list>

</ion-content>
